html {
  font-family: "Fredoka One", sans-serif;
  color: #c09;
}

.banner {
  background-image: repeating-linear-gradient(-30deg, #b3fbff 1%, #c9fcff 2%, #d4fdff 3%);
  border-top: 10px solid #b3fbff;
  border-bottom: 10px solid #b3fbff;
}

@keyframes text-blur {

  0% {
    opacity: 0;
    filter: blur(7px);
  }

  50% {
    opacity: 1;
  }

  100% {
    filter: none;
    opacity: 1;
  }

}

.content {
  top: 10px;
  animation: text-blur 1s 500ms linear forwards;
  filter: blur(7px);
  opacity: 0;
  transform-origin: left center;
  text-shadow: 2px 2px #aaa;
}

h1 {
  color: #990073;
  position: relative;
  transform: rotate(-10deg);
}

p {
  position: relative;
  transform: rotate(-5deg);
  max-width: 19em;
  left: 20px;
}

.btn-ghost {
  color: #c09;
  border: 3px solid #990073;
  position: relative;
  left: 30px;
}

.btn-ghost:hover {
  background-color: #c09;
  color: #990073;
  border: 3px solid #990073;
}

.ice-cream {
  left: 10px;
}

@keyframes cone-drop {

  0% {
    transform: translateY(-500px);
  }

  100% {
    transform: translateY(0);
  }

}

.cone {
  animation: cone-drop 250ms ease forwards;
  transform: translateY(-500px);
  top: 270px;
  z-index: 100;
  max-width: 9em;
}

.mint {
  animation: cone-drop 250ms 250ms ease forwards;
  transform: translateY(-500px);
  top: 170px;
  z-index: 50;
  max-width: 9em;
}

.chocolate {
  animation: cone-drop 250ms 500ms ease forwards;
  transform: translateY(-500px);
  top: 85px;
  left: 70px;
  z-index: 50;
  max-width: 9em;
}

.vanilla {
  animation: cone-drop 250ms 750ms ease forwards;
  transform: translateY(-500px);
  top: 15px;
  z-index: 60;
  max-width: 9em;
}

.cherry {
  animation: cone-drop 250ms 1s ease forwards;
  transform: translateY(-500px);
  top: -60px;
  z-index: 75;
  max-width: 9em;
}

@media only screen and (min-width: 90em) {

  .content {
    top: -10px;
  }

  .ice-cream {
    left: 20px;
  }

  .cone {
    top: 280px;
  }

}
